<% if !user_signed_in? %>
 <div class="jumbotron">
   <h1>Your Favorite Movies Revied</h1>
   <p>Replace the navbar brand with your own image by swapping the text for an <img>. Since the .navbar-brand has its own padding 
    and height, you may need to override some CSS depending on your image.</p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
 </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
    </div>
    </div>
  <% end %>
</div>